{{ define "title" }}Home{{ end }}

{{ define "content" }} 
    {{ if not isLoggedIn }}
        <h1>Welcome</h1>
        
        <section>
            <p>Sign in with your username:</p>
            <a href="{{ urlFor "login"}}"><button>Log in</button></a>
        </section>

        <section>
            <p>New here? Create an account:</p>
            <a href="{{ urlFor "register"}}"><button>Sign up</button></a>
        </section>
    
    {{ else }}
        <p>Hi {{ currentUser.Name }}!</p>
    {{ end }}
{{ end }}
 