{{ define "title" }}Profile{{ end }}

{{ define "content" }}

    <h1>Profile</h1>

    <article>
        <header>Member</header>
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{.Name}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{.Email}}</td>
                </tr>
            </tbody>
        </table>
        <form method="POST" action="{{ urlFor "logout" }}">
            <button type="submit">Logout</button>
        </form>
    </article>

{{ end }} 